<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/fileLoad">
        <table width="730" height="283" border="1">
            <tr>
                <td colspan="2" align="center">文件上传</td>
            </tr>

            <tr>
                <td align="center">头像：</td>
                <td><label for="fileField3"></label>
                    <input type="file" name="filePhoto" id="fileField3"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="button" id="button" value="上传">
                    <input type="reset" name="button2" id="button2" value="重置"></td>
            </tr>
        </table>
    </form>
</body>
</html>